<!--<h1>Tweets</h1>
<p><a href="#/login">Logout</a></p>-->
<div>
    <header class="slds-global-header_container">
        <div class="slds-global-header slds-grid slds-grid_align-spread">
            <div class="slds-global-header__item">
                <div class="slds-global-header__logo">
                    <img src="/scripts/assets/images/logo-noname.svg" alt="" />
                </div>
            </div>
            <div class="slds-global-header__item slds-global-header__item_search">
                <div aria-expanded="false" aria-haspopup="listbox" class="slds-form-element slds-lookup" role="combobox">
                    <label class="slds-assistive-text" for="global-search-01">Search Tweets</label>
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right">
                        <svg class="slds-input__icon slds-input__icon_left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/scripts/assets/icons/utility-sprite/svg/symbols.svg#search" />
                        </svg>
                        <input ng-model="filter" type="text" aria-activedescendant="" aria-autocomplete="list" aria-controls="global-search-list-01" autocomplete="off" class="slds-input slds-lookup__search-input" id="global-search-01" placeholder="Search Tweets" role="textbox" />
                    </div>
                </div>
            </div>
            <ul class="slds-global-header__item slds-grid slds-grid_vertical-align-center">
                <li class="slds-dropdown-trigger slds-dropdown-trigger_click">
                    <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-header__button_icon" ng-click="logout()" title="Logout">
                        <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/scripts/assets/icons/utility-sprite/svg/symbols.svg#logout" />
                        </svg>
                        <span class="slds-assistive-text">Logout</span>
                    </button>
                </li>
            </ul>
        </div>
    </header>

    <div class="slds-feed" style="margin-top:50px;">
        <ul class="slds-feed__list">
            <li ng-repeat="tw in tweets" class="slds-feed__item">
                <article class="slds-post">
                    <header class="slds-post__header slds-media">
                        <div class="slds-media__figure">
                            <a href="javascript:void(0);" class="slds-avatar slds-avatar_circle slds-avatar_large">
                                <img alt="{{tw.UserName}}" ng-src="{{tw.ProfileImageUrl}}" title="{{tw.UserScreenName}}" />
                            </a>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                                <p>{{tw.UserName}}</p>
                            </div>
                            <p class="slds-text-body_small">{{tw.UserScreenName}}</p>
                        </div>
                        <ul class="slds-post__header-meta-list slds-list_horizontal slds-has-dividers_right slds-text-title">
                            <li class="slds-item slds-text-body_small">{{tw.TweetDate}}</li>
                        </ul>
                    </header>
                    <div class="slds-post__content slds-text-longform">
                        <p>{{tw.Content}}</p>
                        <img ng-src="{{tw.MediaUrl}}" />
                    </div>
                    <footer class="slds-post__footer">
                        <ul class="slds-post__footer-meta-list slds-list_horizontal slds-has-dividers_right slds-text-title">
                            <li class="slds-item">{{tw.RetweetCount}} retweets</li>
                        </ul>
                    </footer>
                </article>
            </li>
        </ul>
    </div>
</div>
