<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="TransportSecurity" maxReceivedMessageSize="1048576">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="NoSecurity" maxReceivedMessageSize="1048576">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Server.Service1" behaviorConfiguration="ServiceBehaviour">
        <endpoint address=""  binding="webHttpBinding" contract="Server.IService1" behaviorConfiguration="web" bindingConfiguration="TransportSecurity">
        </endpoint>
        <endpoint address=""  binding="webHttpBinding" contract="Server.IService1" behaviorConfiguration="web" bindingConfiguration="NoSecurity">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceAuthorization serviceAuthorizationManagerType="Server.RestAuthorizationManager, Server"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="Server.CorsEnablingBehavior, Server, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <!--<protocolMapping>
        <add binding="webHttpBinding" scheme="https"  />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="Server.Service1" relativeAddress="Service1.svc" factory="Server.CorsEnabledServiceHostFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <applicationSettings>
    <Server.Properties.Settings>
      <setting name="twitterConsumerKey" serializeAs="String">
        <value>jLDjnzgtgfcb1aTBLQq0UC27G</value>
      </setting>
      <setting name="twitterConsumerSecret" serializeAs="String">
        <value>5qNdIByGfdwozerGnBwsg75senNrNSn9EXJIa4QNGT0ngxGTlK</value>
      </setting>
    </Server.Properties.Settings>
  </applicationSettings>
</configuration>
